# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore egg-info directories
*.egg-info

# Lexi's ignores
duplexity/rapsd.py
duplexity/deterministic_score copy.py
duplexity/test_duplexity.ipynb
duplexity/test_duplexity_lexi.ipynb
output.png
duplexity/visualization.py
duplexity/usage.ipynb
